/* VARIABLES */
/* MIXINS */
/* ANIMATIONS */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInScale {
  from {
    scale: 0.9;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
/* ELEMENTS */
body {
  margin: 0px auto;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  min-width: 100%;
  min-height: 100%;
}

main {
  margin: 0;
}

.header {
  display: flex;
  height: 144px;
  min-width: 100%;
  background-color: #011827;
}
@media screen and (min-width: 600px) {
  .header {
    height: 216px;
  }
}
.header__logo__container {
  display: flex;
  position: absolute;
}
.header__logo {
  height: 82px;
  width: 128px;
  margin: 20px 10px 10px 20px;
}
.header__title {
  width: 78px;
  height: 84px;
  line-height: 1.3em;
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  color: white;
}
@media screen and (min-width: 600px) {
  .header__title {
    display: flex;
    min-width: 250px;
    height: auto;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 1.5em;
  }
}
.header__nav a, .header__list a {
  text-decoration: none;
  color: white;
}
.header__nav a:hover, .header__list a:hover {
  color: #8acfe5;
}
@media screen and (max-width: 600px) {
  .header__nav, .header__list {
    display: none;
    font-weight: 700;
    padding: 0;
  }
}
@media screen and (min-width: 600px) {
  .header__nav, .header__list {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 70px;
    color: white;
    list-style: none;
    width: 100%;
    padding-right: 20px;
  }
}
@media screen and (min-width: 1000px) {
  .header__nav, .header__list {
    gap: 100px;
  }
}

.hamburger__nav {
  display: none;
}
.hamburger__container.active {
  display: flex;
  box-sizing: border-box;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(250, 250, 250, 0.3);
  animation-name: fadeIn;
  animation-duration: 0.2s;
  animation-timing-function: cubic-bezier(0.32, 0, 0.67, 0);
}
.hamburger__nav.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background-color: #011827;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  height: calc(100% - 40px);
  width: 100%;
  margin: 20px 20px;
  animation-name: fadeInScale;
  animation-duration: 0.1s;
  animation-delay: 0.2s;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
}
.hamburger__nav.active li {
  list-style: none;
  color: white;
  padding: 40px 20px;
  font-weight: 600;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
}
.hamburger__nav.active li a {
  text-decoration: none;
  color: white;
}
.hamburger__list {
  padding-left: 0;
}
.hamburger__button--close {
  display: none;
  cursor: pointer;
}
.hamburger__button--close.active {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  float: right;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  padding: 5px 5px;
}
.hamburger__button--open {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .hamburger__button--open {
    display: block;
    background-color: transparent;
    color: white;
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    font-size: 50px;
    padding: 5px 5px;
  }
}

.hero {
  max-width: 100%;
  height: auto;
}
@media screen and (min-width: 600px) {
  .hero {
    max-height: 350px;
    min-width: 100%;
    object-fit: cover;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-height: 400px;
    min-width: 100%;
    object-fit: cover;
  }
}
@media screen and (min-width: 1000px) {
  .hero {
    max-height: 450px;
    min-width: 100%;
    object-fit: cover;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    max-height: 490px;
    min-width: 100%;
    object-fit: cover;
  }
}

.header__nav li:hover {
  color: #8acfe5;
  cursor: pointer;
}

.buttons__top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2em;
  margin-bottom: 50px;
  row-gap: 1em;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 600px) {
  .buttons__top {
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
    transform: translateY(-55px);
  }
}
.buttons__top__btn {
  background-color: #8acfe5;
  color: #011827;
  border: none;
  border-radius: 3px;
  padding: 10px 40px;
  min-width: 160px;
  min-height: 40px;
  font-weight: 700;
  font-size: 1.1em;
}
.buttons__top__link {
  color: #36769d;
  font-weight: 700;
  font-size: 0.8em;
  background: none;
  border: none;
  text-decoration: underline;
}
@media screen and (min-width: 600px) {
  .buttons__top__link {
    background-color: #e3170a;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 10px 40px;
    min-width: 160px;
    min-height: 40px;
    font-weight: 700;
    font-size: 1.1em;
    text-decoration: none;
  }
}

.quotes {
  display: flex;
  margin: 40px 10px;
  margin-bottom: 60px;
}
@media screen and (min-width: 600px) {
  .quotes {
    margin: 40px 50px;
  }
}
@media screen and (min-width: 768px) {
  .quotes {
    margin: 40px 80px;
  }
}
@media screen and (min-width: 1000px) {
  .quotes {
    margin: 40px 100px;
  }
}
@media screen and (min-width: 1280px) {
  .quotes {
    margin: 40px 200px;
  }
}
.quotes__img {
  width: 75px;
  height: 75px;
}
.quotes__box {
  display: block;
  padding: 0 10px;
}
.quotes__box2 {
  display: none;
}
@media screen and (min-width: 600px) {
  .quotes__box2 {
    display: block;
    padding: 0 20px;
  }
}
.quotes__img2 {
  display: none;
}
@media screen and (min-width: 600px) {
  .quotes__img2 {
    display: block;
    width: 75px;
    height: 75px;
  }
}
.quotes__quote {
  padding-left: 10px;
  padding-right: 10px;
  font-style: italic;
  font-weight: 400;
  margin: 0;
}
.quotes__below {
  margin: 10px 0 0 10px;
  font-size: 0.8em;
}

.popularTitle {
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
  margin: 60px 40px;
}

.rooms {
  display: flex;
  justify-content: flex-start;
  padding: 0 40px;
  gap: 20px;
  overflow: auto;
}
.rooms__box {
  width: 363px;
  height: 430px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 5px 0px;
  border-radius: 8px;
  margin: 30px auto;
  flex: none;
}
.rooms__img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}
.rooms h1 {
  margin: 5px 10px 0px 10px;
  font-weight: 500;
}
.rooms__subtitle {
  display: flex;
  margin-left: 12px;
  font-size: 0.7em;
}
@media screen and (min-width: 600px) {
  .rooms__subtitle {
    justify-content: space-between;
    padding-right: 10px;
  }
}
.rooms__rating {
  display: flex;
  gap: 0.5rem;
}
.rooms__participants {
  color: black;
  padding-left: 10px;
  padding-top: 2px;
}
.rooms__star--filled {
  background: url("Images/star-filled.png");
  width: 15px;
  height: 15px;
}
.rooms__star--empty {
  background: url("Images/star-empty.png");
  width: 15px;
  height: 15px;
}
.rooms p {
  margin: 15px 10px 25px 10px;
  font-size: 1em;
}
.rooms button {
  float: right;
  margin: 15px 10px;
  width: 179px;
  height: 44px;
  border-radius: 3px;
  background-color: #e3170a;
  border: none;
  color: white;
  font-weight: 600;
}

.buttons__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 70px;
  row-gap: 1em;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 600px) {
  .buttons__bottom {
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
  }
}
.buttons__bottom__btn {
  background-color: #8acfe5;
  color: #011827;
  border: none;
  border-radius: 3px;
  padding: 10px 40px;
  min-width: 160px;
  min-height: 40px;
  font-weight: 700;
  font-size: 1.1em;
}
.buttons__bottom__link {
  color: #36769d;
  font-weight: 700;
  font-size: 0.8em;
  background: none;
  border: none;
  text-decoration: underline;
}
@media screen and (min-width: 600px) {
  .buttons__bottom__link {
    background-color: #e3170a;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 10px 40px;
    min-width: 160px;
    min-height: 40px;
    font-weight: 700;
    font-size: 1.1em;
    text-decoration: none;
  }
}

.story {
  width: 100%;
  height: 500px;
  margin: 0;
  padding-bottom: 30px;
  background-color: #011827;
  display: flex;
  justify-content: center;
  align-items: center;
}
.story__box {
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 600px) {
  .story__box {
    padding: 20px 150px;
  }
}
@media screen and (min-width: 768px) {
  .story__box {
    padding: 30px 200px;
  }
}
@media screen and (min-width: 1000px) {
  .story__box {
    padding: 50px 350px;
  }
}
@media screen and (min-width: 1280px) {
  .story__box {
    padding: 50px 480px;
  }
}
.story p {
  color: white;
  text-align: center;
  padding-bottom: 20px;
}
.story__btn {
  min-width: 160px;
  min-height: 40px;
  padding: 10px 40px;
  background-color: transparent;
  font-weight: 700;
  font-size: 1.1em;
  color: #8acfe5;
  border: 2px solid #8acfe5;
  border-radius: 3px;
}

@media screen and (min-width: 600px) {
  .book .book__box {
    padding: 20px 50px;
  }
}
@media screen and (min-width: 768px) {
  .book {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .book img {
    max-width: 50%;
    height: auto;
  }
  .book .book__box {
    padding: 0 30px;
    max-width: 50%;
  }
}
@media screen and (min-width: 1000px) {
  .book {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .book img {
    max-width: 50%;
    height: auto;
  }
  .book .book__box {
    padding: 0 100px;
    max-width: 50%;
  }
}
@media screen and (min-width: 1280px) {
  .book {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .book img {
    max-width: 50%;
    height: auto;
  }
  .book .book__box {
    padding: 0 150px;
    max-width: 50%;
  }
}
.book img {
  width: 100%;
  height: auto;
}
.book__box {
  padding: 20px 20px;
}
.book__btn {
  background-color: #e3170a;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 10px 40px;
  min-width: 160px;
  min-height: 40px;
  font-weight: 700;
  font-size: 1.1em;
  text-decoration: none;
}

.allChallenges {
  margin-bottom: 100px;
}
@media screen and (min-width: 768px) {
  .allChallenges {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  .allChallenges img {
    max-width: 50%;
    height: auto;
  }
  .allChallenges .allChallenges__box {
    padding: 0 30px;
    max-width: 50%;
  }
}
@media screen and (min-width: 1000px) {
  .allChallenges {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  .allChallenges img {
    max-width: 50%;
    height: auto;
  }
  .allChallenges .allChallenges__box {
    padding: 0 100px;
    max-width: 50%;
  }
}
@media screen and (min-width: 1280px) {
  .allChallenges {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .allChallenges img {
    max-width: 50%;
    height: auto;
  }
  .allChallenges .allChallenges__box {
    padding: 0 150px;
    max-width: 50%;
  }
}
.allChallenges img {
  width: 100%;
  height: auto;
}
.allChallenges__box {
  padding: 20px 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #011827;
  color: white;
  max-height: 550px;
  width: 100%;
  padding: 20px 0px;
  margin: 0 auto;
}
.footer__box {
  padding: 10px 20px;
}
@media screen and (min-width: 600px) {
  .footer__box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 50px;
  }
}
.footer h3 {
  font-size: 1em;
  margin: 10px 0;
}
.footer p {
  margin: 10px 0;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer__title {
  padding: 10px 0;
}
@media screen and (min-width: 600px) {
  .footer__title {
    grid-column: 1/3;
  }
}
@media screen and (min-width: 1000px) {
  .footer__title {
    padding-left: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__title {
    padding-left: 100px;
  }
}
.footer__sitemap {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .footer__sitemap {
    grid-column: 4/5;
  }
}
.footer__follow {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .footer__follow {
    grid-column: 5/6;
  }
}
.footer__play {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  list-style: none;
}
@media screen and (min-width: 600px) {
  .footer__play {
    column-span: 1/3;
  }
}

/* CHALLENGES-PAGE */
.title__heading {
  font-size: 2rem;
}
.title__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}
.title__filterBtn {
  min-width: 160px;
  min-height: 40px;
  padding: 10px 40px;
  background-color: transparent;
  font-weight: 700;
  font-size: 1.1em;
  color: #8acfe5;
  border: 2px solid #8acfe5;
  border-radius: 3px;
}

.ourChallenges {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  padding: 0 50px;
  gap: 5px;
}

/* FILTERBOX-PAGE */
.filter__container {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: auto;
  margin-bottom: 40px;
  justify-content: center;
  border: 2px solid grey;
}
.filter__header {
  display: flex;
  padding: 20px;
}
.filter__button--close {
  margin-left: auto;
}
.filter__selection__content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.filter__search {
  padding: 20px;
  text-align: center;
}
.filter__selection__bytype-1 {
  display: flex;
}
.filter__selection__bytype-2 {
  display: flex;
}
.filter__selection__stars {
  display: flex;
  flex-wrap: wrap;
}
.filter__selection__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* CHALLENGES-PAGE */
.title__heading {
  font-size: 2rem;
}
.title__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}
.title__filterBtn {
  min-width: 160px;
  min-height: 40px;
  padding: 10px 40px;
  background-color: transparent;
  font-weight: 700;
  font-size: 1.1em;
  color: #8acfe5;
  border: 2px solid #8acfe5;
  border-radius: 3px;
}

.ourChallenges {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  padding: 0 50px;
  gap: 5px;
}

/* FILTERBOX-PAGE */
.filter__container {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: auto;
  margin-bottom: 40px;
  justify-content: center;
  border: 2px solid grey;
}
.filter__header {
  display: flex;
  padding: 20px;
}
.filter__button--close {
  margin-left: auto;
}
.filter__selection__content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.filter__search {
  padding: 20px;
  text-align: center;
}
.filter__selection__bytype-1 {
  display: flex;
}
.filter__selection__bytype-2 {
  display: flex;
}
.filter__selection__stars {
  display: flex;
  flex-wrap: wrap;
}
.filter__selection__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.modal {
  display: none;
  background: rgba(128, 128, 128, 0.459);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
}
.modal__stepOne {
  display: none;
  flex-direction: column;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border: 2px solid grey;
  height: 80vh;
  width: 75vw;
  margin-top: 100px;
}
.modal__stepTwo {
  display: none;
  flex-direction: column;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border: 2px solid grey;
  height: 80vh;
  width: 75vw;
  margin-top: 100px;
}
.modal__stepThree {
  display: none;
  flex-direction: column;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border: 2px solid grey;
  height: 80vh;
  width: 75vw;
  margin-top: 100px;
}
.modal--open {
  display: flex;
}
.modal__searchBtn {
  float: right;
  margin: 15px 10px;
  width: 179px;
  height: 44px;
  border-radius: 3px;
  background-color: #e3170a;
  border: none;
  color: white;
  font-weight: 600;
}
.modal__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
}
.modal__backBtn {
  color: #36769d;
  font-weight: 700;
  font-size: 0.8em;
  background: none;
  border: none;
  text-decoration: underline;
  margin-top: 10px;
  font-size: medium;
}
.modal__text {
  font-weight: 400;
  font-size: 2.5rem;
}

.modal__btn:hover {
  cursor: pointer;
}
