/* CHALLENGES-PAGE */

body {
  margin: 0px auto;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  min-width: 100%;
  min-height: 100%;
}


.title {
  &__heading {
    font-size: 2rem;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
  }

  &__filterBtn {
    @include buttonTransparent();
  }
}

#ourChallenges {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  padding: 0 50px;
  gap: 10px;
  overflow-x: scroll;

  @include breakpoint($min-screen-breakpoint) {
    padding:0;
  }

  @include breakpoint($medium-screen-breakpoint) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  @include breakpoint($large-screen-breakpoint) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}