/* CHALLENGES-PAGE */

.title {

  &__heading {
    font-size: 2rem;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
  }

  &__filterBtn {
    @include buttonTransparent();
  }
}

.ourChallenges {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
}