/* CHALLENGES-PAGE */


.title {

  &__heading {
    font-size: 2rem;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
  }

  &__filterBtn {
    @include buttonTransparent();
  }
}

.ourChallenges {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  padding: 0 50px;
  gap: 5px;
}
