/* FILTERBOX-PAGE */

.filter {
  &__container {
    display: none;
    flex-direction: column;
    max-width: 1280px;
    margin: auto;
    margin-bottom: 40px;
    justify-content: center;
    border: 2px solid grey;
    transform: translateY(-40px);
  }

  &__header {
    display: flex;
    padding: 20px;
  }

  &__button--close {
    margin-left: auto;
  }

  &__selection__content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  &__search {
    padding: 20px;
    text-align: center;
  }

  &__selection__bytype-1 {
    display: flex;
  }

  &__selection__bytype-2 {
    display: flex;
  }

  &__selection__stars {
    display: flex;
    flex-wrap: wrap;
  }

  &__selection__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
