$medium-screen-breakpoint: 600px;
$large-screen-breakpoint: 1000px;


body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.header {
  display: flex;
  height: 144px;
  min-width: 100% ;
  background-color: #011827;

  @media screen and (min-width: $medium-screen-breakpoint) {
    height: 200px;
  }

  &__logo__title {
    display: flex;
    position: absolute;
  }

  &__logo {
    height: 82px;
    width: 128px;
    margin: 20px 10px 10px 20px;
  }

  &__title {
    width: 78px;
    height: 84px;
    line-height: 1.3em;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    color: white;

    @media screen and (min-width: $medium-screen-breakpoint) {
      display: flex;
      min-width: 250px;
      height: auto;
      align-items: flex-end;
      justify-content: flex-end;
      font-size: 1.5em;
    }
  }

  &__nav, &__list {
    display: none;
    font-weight: 700;
    padding: 0;
    

    @media screen and (min-width: $medium-screen-breakpoint) {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      gap: 50px;
      color: white;
      list-style: none;
      min-width: 100%;
    }
  }

  &__image {
    max-width: 100%;
    height: auto;
  }
}


.challenges__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2em;
  row-gap: 1em;
  font-family: 'Roboto', sans-serif; 

  @media  screen and (min-width: $medium-screen-breakpoint) {
    
  }

  &__btn {
    background-color: #8ACFE5;
  border: none;
  border-radius: 2px;
  padding: 10px 40px;
  min-width: 160px;
  font-weight: 700;
  font-size: 1.2em;
  }

  &__link {
    color: #36769D;
    font-weight: 700;
    font-size: 0.8em;
    padding: 1em;
  }
}

.quotes {

display: flex;
margin: 40px 10px;
margin-bottom: 60px;

@media screen and (min-width: $medium-screen-breakpoint) {
  margin: 40px 50px;
}

@media screen and (min-width: $large-screen-breakpoint){
  margin: 40px 100px;
}

  &__img {
    width: 75px;
    height: 75px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }

  &__box2 {
    display: none;

    @media screen and (min-width: $medium-screen-breakpoint) {
      display: flex;
      flex-direction: column;
      padding: 0 10px;
    }
  }

  &__img2 {
    display: none;

    @media screen and (min-width: $medium-screen-breakpoint) {
      display: block;
      width: 75px;
      height: 75px;
      
    }
  }

  &__quote {
    padding-left: 10px;
    padding-right: 10px;
    font-style: italic;
    margin: 0;
  }

  &__below {
    margin: 10px 0 0 10px;
    font-size: 0.8em;
  }
}

.popularTitle {
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
}

.rooms {

  display: flex;
  justify-content: flex-start;
  padding: 0 40px;
  gap: 20px;
  overflow-x: scroll;

  &__box {
    width: 290px;
    height: 375px;
    box-shadow:rgba(99, 99, 99, 0.2) 0px 5px 8px 0px;
    border-radius: 8px;
    margin: 30px auto;
    flex: none;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
  }

  h1 {
    margin: 5px 10px 0px 10px;
    font-weight: 500;
  }

  small {
    margin-left: 10px;
    font-size: 0.7em;
  }

  span {
    color: #E3170A;
  }


  p {
    margin: 5px 10px;
    font-size: 1em;
  }

  button {
    float: right;
    margin: 15px 10px;
    width: 145px;
    height: 35px;
    border-radius: 2px;
    background-color: #E3170A;
    border: none;
    color: white;
    font-weight: 600;
  }
}

.challenges__btns2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  row-gap: 1em;
  margin: 0;
}

.story {
  width: 100%;
  height: 250px;
  margin: 0;
  padding-bottom: 30px;
  background-color: #011827;

  &__box {
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  p {
    color: white;
    text-align: center;
    padding-bottom: 20px;
  }

  &__btn {
    width: 180px;
    height: 40px;
    background-color: transparent;
    color: #8ACFE5;
    border: 2px solid #8ACFE5;
    border-radius: 2px;
  }
}

.book {

  img {
    width: 100%;
    height: auto;
  }

  &__box {
    padding: 20px 20px;
  }

  &__btn {
    background-color: #E3170A;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 10px 40px;
    min-width: 10em;
    font-weight: 600;
    font-size: 0.8em;
  }
}

.allChallenges {
   img {
    width: 100%;
    height: auto;
   }

   &__box {
    padding: 20px 20px;
   }
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #011827;
  color: white;
  max-height: 550px;
  width: 100%;
  padding: 20px 0px;
  margin: auto;

  &__box {
    padding: 10px 20px;
  }

  h3 {
    font-size: 1em;
    margin: 10px 0;
  }

  p {
    margin: 10px 0;
  }

  a {
    text-decoration: none;
    color: white;
  }

  &__title {
    padding: 10px 0;
  }

  &__sitemap {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
  }

  &__follow {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
  }

  &__play {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
  }
}