$medium-screen-breakpoint: 600px;
$large-screen-breakpoint: 1000px;

@mixin breakpoint($min-size) {
  @media screen and (min-width: $min-size){
    @content;
  }
}

@mixin buttonBlue {
  background-color: #8ACFE5;
  color: #011827;
  border: none;
  border-radius: 2px;
  padding: 10px 40px;
  min-width: 160px;
  min-height: 40px;
  font-weight: 700;
  font-size: 1.1em;
  
}

@mixin buttonRed {
  background-color: #E3170A;
  color: white;
  border-radius: 2px;
  border: none;
  padding: 10px 40px;
  min-width: 160px;
  font-weight: 700;
  font-size: 1.1em;
  text-decoration: none;
  margin-bottom: 30px;
}

@mixin linkBlue {
  color: #36769D;
  font-weight: 700;
  font-size: 0.8em;
  background: none;
  border: none;
  text-decoration: underline;
}



body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.header {
  display: flex;
  height: 144px;
  min-width: 100% ;
  background-color: #011827;

  @include breakpoint($medium-screen-breakpoint) {
    height: 200px;
  }

  &__logo__container {
    display: flex;
    position: absolute;
  }

  &__logo {
    height: 82px;
    width: 128px;
    margin: 20px 10px 10px 20px;
  }

  &__title {
    width: 78px;
    height: 84px;
    line-height: 1.3em;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    color: white;

    @include breakpoint($medium-screen-breakpoint) {
      display: flex;
      min-width: 250px;
      height: auto;
      align-items: flex-end;
      justify-content: flex-end;
      font-size: 1.5em;
    }
  }

  &__nav, &__list {
    display: none;
    font-weight: 700;
    padding: 0;
    

    @include breakpoint($medium-screen-breakpoint) {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      gap: 70px;
      color: white;
      list-style: none;
      min-width: 100%;
    }
 
    @include breakpoint($large-screen-breakpoint) {
      gap: 100px;
    }
  }

  &__image {
    max-width: 100%;
    height: auto;
  }
}

.header__nav li:hover {
  color: #8ACFE5;
  cursor: pointer;
} 


.buttons__top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2em;
  margin-bottom: 30px;
  row-gap: 1em;
  font-family: 'Roboto', sans-serif; 

  @include breakpoint($medium-screen-breakpoint) {
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
    transform: translateY(-55px);
  }

  &__btn {
    @include buttonBlue();
  }

  &__link {
    @include linkBlue();

    @include breakpoint($medium-screen-breakpoint) {
      @include buttonRed();
    }
  }
}

.quotes {

display: flex;
margin: 40px 10px;
margin-bottom: 60px;

@include breakpoint($medium-screen-breakpoint)  {
  margin: 40px 50px;
}

@include breakpoint($large-screen-breakpoint) {
  margin: 40px 100px;
}

  &__img {
    width: 75px;
    height: 75px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }

  &__box2 {
    display: none;

    @include breakpoint($medium-screen-breakpoint)  {
      display: flex;
      flex-direction: column;
      padding: 0 20px;
    }
  }

  &__img2 {
    display: none;

    @include breakpoint($medium-screen-breakpoint)  {
      display: block;
      width: 75px;
      height: 75px;
      
    }
  }

  &__quote {
    padding-left: 10px;
    padding-right: 10px;
    font-style: italic;
    margin: 0;
  }

  &__below {
    margin: 10px 0 0 10px;
    font-size: 0.8em;
  }
}

.popularTitle {
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
}

.rooms {

  display: flex;
  justify-content: flex-start;
  padding: 0 40px;
  gap: 20px;
  overflow-x: scroll;

  &__box {
    width: 290px;
    height: 375px;
    box-shadow:rgba(99, 99, 99, 0.2) 0px 5px 8px 0px;
    border-radius: 8px;
    margin: 30px auto;
    flex: none;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
  }

  h1 {
    margin: 5px 10px 0px 10px;
    font-weight: 500;
  }

  small {
    margin-left: 10px;
    font-size: 0.7em;
  }

  span {
    color: #E3170A;
  }


  p {
    margin: 5px 10px;
    font-size: 1em;
  }

  button {
    float: right;
    margin: 15px 10px;
    width: 145px;
    height: 35px;
    border-radius: 2px;
    background-color: #E3170A;
    border: none;
    color: white;
    font-weight: 600;
  }
}

.buttons__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2em;
  margin-bottom: 20px;
  row-gap: 1em;
  font-family: 'Roboto', sans-serif; 

  @include breakpoint($medium-screen-breakpoint) {
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
  }

  &__btn {
    @include buttonBlue();
  }

  &__link {
    @include linkBlue();

    @include breakpoint($medium-screen-breakpoint) {
      
      @include buttonRed();
    }
  }
}


.story {
  width: 100%;
  height: 250px;
  margin: 0;
  padding-bottom: 30px;
  background-color: #011827;
  display: flex;
  justify-content: center;
  align-items: center;

  &__box {
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @include breakpoint($medium-screen-breakpoint)  {
      padding: 20px 200px;
    }

    @include breakpoint($large-screen-breakpoint) {
      padding: 50px 350px;
    }
  }

  p {
    color: white;
    text-align: center;
    padding-bottom: 20px;
  }

  &__btn {
    width: 180px;
    height: 40px;
    background-color: transparent;
    color: #8ACFE5;
    border: 2px solid #8ACFE5;
    border-radius: 2px;
  }
}

.book {

  @include breakpoint($large-screen-breakpoint) {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 50%;
      height: auto;
    }

    .book__box {
      padding: 0 100px;
      max-width: 50%;
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  &__box {
    padding: 20px 20px;
  }

  &__btn {
    @include buttonRed();
  }
}

.allChallenges {

  margin-bottom: 100px;

  @include breakpoint($large-screen-breakpoint) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    img {
      max-width: 50%;
      height: auto;
    }

    .allChallenges__box {
      padding: 0 100px;
      max-width: 50%;
    }
  }

   img {
    width: 100%;
    height: auto;
   }

   &__box {
    padding: 20px 20px;
   }
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #011827;
  color: white;
  max-height: 550px;
  width: 100%;
  padding: 20px 0px;
  margin: auto;
 
  

  &__box {
    padding: 10px 20px;

    @include breakpoint($medium-screen-breakpoint)  {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      padding: 50px;
      
    }
  }

  h3 {
    font-size: 1em;
    margin: 10px 0;
  }

  p {
    margin: 10px 0;
  }

  a {
    text-decoration: none;
    color: white;
  }

  &__title {
    padding: 10px 0;
    
    @include breakpoint($medium-screen-breakpoint)  {
      grid-column: 1 / 3;
    }
  }

  &__sitemap {
    padding: 10px 0;
    display: flex;
    flex-direction: column;

    @include breakpoint($medium-screen-breakpoint)  {
      grid-column: 4 / 5;
    }
  }

  &__follow {
    padding: 10px 0;
    display: flex;
    flex-direction: column;

    @include breakpoint($medium-screen-breakpoint)  {
      grid-column: 5 / 6;
    }
  }

  &__play {
    display: flex;
    flex-direction: column;
    padding: 10px 0;

    @include breakpoint($medium-screen-breakpoint)  {
      column-span: 1 / 3;
    }
  }
}